@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif !important;
}
body {
    margin: 0;
    padding: 0;
    scrollbar-color: none !important;
    font-family: 'Inter', sans-serif !important;
}

/* For ScrollBar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}
/* antd */
.ant-input-outlined {
    border-color: #d9d9d9;
}

/* Hover state for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darken thumb color on hover */
}
/* antd dropdown */
:where(.css-dev-only-do-not-override-12jgzzr).ant-form-item {
    margin-bottom: 0;
}
/* menu  */

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}
.ant-menu-inline .ant-menu-item {
    width: 100% !important;
    margin: 0 0 16px 0 !important;
}
/* Drawer */
.ant-drawer .ant-drawer-header {
    padding: 24px 32px !important;
}
.ant-drawer-close {
    order: 2;
}
/* Modals */
.ant-modal-content {
    border-radius: 8px !important;
}
/* table */
.ant-table-thead .ant-table-cell {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #1c1c1c !important;
}
.ant-table-row .ant-table-cell {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #1c1c1c !important;
}

/* pagination */
.ant-pagination-item-active {
    border-color: #3991c2 !important;
}
.ant-pagination-item-active a {
    color: #3991c2 !important;
}
